!!!
%html
  %head
    %title= @page_title
    %link{:href => r('/ext/style.css'), :rel => 'stylesheet',
          :type => 'text/css'}
    %link{:href => r('/image/app-icon.png'), :rel => 'apple-touch-icon'}
  %body
    = yield
    %div#byline
      %p
        By
        %a{:href => 'http://sean.mcgivern.me.uk/'} Sean McGivern
    - (@scripts || []).each do |script|
      %script{:src => r(script), :type => 'text/javascript'}
