%body
  %h1
    %a{:href => r('/')} Last.fm music map
    for
    %a{:href => "http://last.fm/user/#{@username}"}= @username
  :kramdown
    Oh dear! Nothing found with these settings: <code>username: #{@username};
    period: #{@period[:name].downcase}</code>.

    Maybe check the username is valid, or try increasing the time period.
