$body-font: "Palatino Linotype", "Palatino", "URW Palladio L", "Book Antiqua", "Baskerville", "Bitstream Charter", "Garamond", "Georgia", serif;

$header-font: "Gill Sans", "Gill Sans MT", "GillSans", "Calibri", "Trebuchet MS", sans-serif;

body, input {
    font-family: $body-font;
    font-size: 105%;
    color: #000;
    background: #fff;
}

body {
    margin: 0em auto;
    padding: 0em 1em;
    max-width: 50em;
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    text-align: center;
    clear: both;
}

:link, :link:active, :link:hover, .click {
    color: #0000ff;
    background: transparent;
    cursor: pointer;
    text-decoration: underline;
}

:link:visited {
    color: #800080;
    background: transparent;
}

img {
    border-style: none;
}

#artists {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#artists li {
    float: left;
    margin: 0.2em;
    padding: 0.1em;
    width: 16em;
    display: inline-block;
    color: inherit;
    background: #eee;
    font-size: 90%;
}

#artists img {
    float: right;
    padding: 0 0 0.1em 0.1em;
}

#artists h3, #artists p {
    margin: 0;
    padding: 0;
    line-height: 120%;
    text-align: left;
}

.country-name {
    font-style: normal;
    background: #ccc;
    cursor: pointer;
}

.error {
    font-weight: bold;
    color: #8b0000;
}

code {
    line-height: 50%;
}

#artists li.highlight {
    background: #d8d8d8;
}

#byline {
    clear: both;
    text-align: right;
    font-size: 75%;
    font-style: italic;
}
